*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    display: flex;
    
    border-top: -7px;
    font-family:"Poppins", sans-serif;
    }

    section {
        width: 50%;
       display: flex;
       justify-content: center;
       align-items:center;
      
        
       }

    .imagem {
        width: 50%;
        height: 1031px;
        
    }

    .Bem{
        width: 434px;
        height: 38px;
       
        line-height: 37.5px;
        size: 25px;
    }

    .Faca{
        width: 434px;
        height: 97px;
        gap: 2px;
        size: 31px;
    }
            
    .Utilize {
        font-family:"Poppins", sans-serif; 
        width: 260px; 
        height: 48px; 
        font-weight: 400;
        size: 16px;
        line-height: 24px;
    }

    .Email{
        
        font-weight: 400;
        width: 390px;
        height: 24px;
        size: 16px;
        line-height: 24px;
        width: 423px;
        height: 60px;
        border-radius: 6px;
        margin-top: 18px;
        margin-bottom: 18px;
        gap: 10px;
       
    }
   
    
    .Senha{  
        font-weight: 400;
            width: 423px;
            height: 92px;
            size: 16px;
            line-height: 24px;
            border-radius: 6px;
            margin-top: 18px;
            margin-bottom: 18px;
            gap: 10px;
    }

    .checki {   
        display: flex;
        justify-content: space-between;
       
     }

     .esqueceu{
        text-align: right;
        color: #4d4d4d;
     }
     .check {
        display: flex;
     }

    

 
        
     
   

.login {
    border-radius: 10px;
    padding: 35px;
    gap: 26px;
}

button {
    width: 423px;
    height: 60px;
    border-radius: 6px;
    margin-top: 18px;
    margin-bottom: 18px;
    gap: 10px;
       background-color: black;
   border: none;
   color: aliceblue;
   text-decoration: none;
}

.container {
   border: solid;
   border-radius: 10px;
   padding: 35px;
   border-color: #848484;
   gap: 26px;
}

#Senha {
border: none;
outline:none ;

}

.acesso {
    display: flex;
}

.Senha {
    display: flex;
}




















    







